#isce3    # since the conda-installed isce3 is not the most updated version, installing isce3 from stratch is recommended, to stay in sync with isce3 development.
gdal
lxml
numpy
packaging
python>=3.8
requests
shapely
