name: Unit tests
on: [push]

jobs:
  unit_tests:
    name: Unit tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: test
          auto-update-conda: true
          environment-file: requirements.yaml
          python-version: 3.9
          auto-activate-base: false
      - name: Run pytest
        shell: bash -l {0}
        run: |
          conda activate test
          pip install .
          conda install pytest
          pytest
